[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group ldap/lf-gerrit-transfer
	forgeCommitter = group ldap/lf-gerrit-transfer
	push = +force group ldap/lf-gerrit-transfer
	pushMerge = group ldap/lf-gerrit-transfer
[receive]
	requireSignedOffBy = false
[plugin "its-jira"]
	enabled = false
